version: "3.4"

services:
{% for srv in services %}
{{ srv | to_nice_yaml | indent(2, first=True) }}
{%- endfor %}

secrets:
{%- for secret in secrets.values() %}
  {{ secret }}:
    external: true
{%- endfor %}

networks:
  env_network:
    external:
      name: {{ nas_project }}
